
.error {
  color: red;
}

.success {
  color: green;
}

.selection-group input[type=radio] {
  -webkit-appearance: radio;
  display: inline;
}

.loading {
  background-image: url('../img/ellipsis.svg');
  width: 20px; height: 15px;
  display: inline-block;
  margin-left: 5px;
}

#photo .picHolder img, 
#photoAdded .picHolder img {
	width: 150px;
	border-radius: 50%;
	height: 150px;
}

header .user-area .photo img {
	width: 110px;
	border-radius: 50%;
	height: 110px;	
}